@font-face {
    font-family: 'Noto Sans KR';
    src: url('NotoSansKR-Medium.otf')
}
#logo{
    width: 100%;
    height: 54px;
    margin-top: 190px;
}
.title{
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: -0.09em;
    text-align: center;
}
.blue{
    color : #316AFF;
}
#login{
    margin-top: 61px;
    display: flex;
    justify-content: center;
}
.login_form{
    background-color: #ffffff;
    box-shadow: 5px 5px 20px 10px #9F9F9F12;
    box-shadow: -5px -5px 20px 10px #9F9F9F12;
    width: 480px;
    height: 360px;
    border-radius: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #535353;

}
.id{
    margin-top: 44px;
    margin-left: 41px;
}
.input_id{
    width: 400px;
    height: 54px;
    border: 1.5px solid #E8E8E8;
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}
.pw{
    margin-top: 13px;
    margin-left: 41px;
}
.input_pw{
    width: 400px;
    height: 54px;
    border: 1.5px solid #E8E8E8;
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}
.login_btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.login_btn button{
    width: 400px;
    height: 60px;
    background-color: #316AFF;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}
#container_header.active {
    position: fixed;
    background: transparent;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 15px 2px #DEDEDE1A;
}

#container_header{
    width: 100%;
    height : 62px;
    background-color: #FFFFFF;
    position: absolute;
    top : 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px 2px #DEDEDE1A;
}
#header_login{
    width: 1040px;
}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navleft{
    display: flex;
    align-items: center;
}
.icon{
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: -0.09em;
    text-align: center;
}
.nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_right a{
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #404040;

}
.nav_right button{
    background-color: #D1DEFF;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 23px;
    color: #316AFF;
}
#container{
    background-color: #F9F9F9;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.contents{
    width: 50%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content_title{
    width: 100%;
    height: 22px;
    font-family: 'Noto Sans KR';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.Date{
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #404040;
}
.date_btn{
    float: right;
    margin-left: 11px;
    cursor: pointer;
}
